#!/usr/bin/make -f

export PYBUILD_NAME=plinth

%:
	dh $@ --with python3 --with systemd --buildsystem=pybuild

override_dh_installinit:
	dh_installinit --onlyscripts

new-upstream:
	version=0.7; \
	tgz=../plinth_$$version.orig.tar.gz; \
	vcstag=v$$version ; \
	wget -O $$tgz https://github.com/freedombox/Plinth/archive/$$vcstag.tar.gz; \
	git fetch https://github.com/freedombox/Plinth.git ; \
	echo gbp import-orig --pristine-tar --upstream-vcs-tag=$$vcstag $$tgz
